body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
}

a {
	color: #fff;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

#footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	z-index: 1;
	/* TODO Solve this in H */
}

td {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    width: 33.3%;
}

table {
    display: flexbox;
    max-width: 80%;
}